.footer {
    height: 100px; 
    background-color: var(--secondary);
    text-align: center;
    padding: 20px; 
    box-sizing: border-box; 
}

.footer h1{
    color: var(--light-text);
    font-size: 56px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}